<!-- Container Principal -->
<div class="mt-20 p-4 flex justify-start">

    <!-- Lista de Tarefas em Tabela -->
    <div class="overflow-x-auto mt-6 w-full max-w-screen-lg ml-80">
      <table class="table-auto w-full border-collapse border border-gray-300 dark:border-gray-600 rounded-lg overflow-hidden">
        <!-- Cabeçalho -->
        <thead class="bg-gray-200 dark:bg-gray-800 rounded-t-lg">
          <tr>
            <th class="p-3 text-left text-gray-700 dark:text-gray-300">Tarefa</th>
            <th class="p-3 text-left text-gray-700 dark:text-gray-300">Prazo</th>
            <th class="p-3 text-left text-gray-700 dark:text-gray-300">Prioridade</th>
            <th class="p-3 text-left text-gray-700 dark:text-gray-300">Ações</th>
          </tr>
        </thead>
        <!-- Corpo -->
        <tbody>
          <tr *ngFor="let task of tasks" class="dark:hover:bg-gray-700">
            <td class="p-3 text-textPrimary dark:text-gray-200">{{ task.description }}</td>
            <td class="p-3 text-textPrimary dark:text-gray-400">{{ task.deadline | date:'dd/MM/yyyy' }}</td>
            <td class="p-3">
              <span
                class="p-1 rounded text-white"
                [ngClass]="{
                  'bg-green-500': task.priority === 'Baixa',
                  'bg-yellow-500': task.priority === 'Média',
                  'bg-red-500': task.priority === 'Alta'
                }"
              >
                {{ task.priority }}
              </span>
            </td>
            <td class="p-3">
              <button (click)="removeTask(task)" class="text-red-500 hover:text-red-700 transition-colors rounded-lg">
                Excluir
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
  
  <nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
    <div class="px-3 py-3 lg:px-5 lg:pl-3">
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start rtl:justify-end">
          <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
              <span class="sr-only">Open sidebar</span>
              <!-- FontAwesome Menu Icon -->
              <i class="fas fa-bars w-6 h-6"></i>
          </button>
          <a  class="flex ms-2 md:me-24">
            
            <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap text-primary">Tarefas</span>
          </a>
        </div>
        <div class="flex items-center">
          <div class="flex items-center ms-3">
            <div>
              <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full"  alt="user photo">
              </button>
            </div>
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
              <div class="px-4 py-3" role="none">
                <p class="text-sm text-gray-900 dark:text-white" role="none">
                  Neil Sims
                </p>
                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                  n
                </p>
              </div>
              <ul class="py-1" role="none">
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Dashboard</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Settings</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Earnings</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">Sign out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <aside id="logo-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidebar">
     <div class="h-full px-3 pb-4 overflow-y-auto bg-white dark:bg-gray-800">
        <ul class="space-y-2 font-medium">
           <li>
              <a class="flex items-center p-2 text-gray-900 rounded-lg">
                 <!-- FontAwesome Icon for Task Description -->
                 <i class="fas fa-tasks w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
                 <span class="ms-3">Descrição da Tarefa</span>
              </a>
  
              <input
                id="taskDescription"
                type="text"
                [(ngModel)]="newTask"
                placeholder="Digite o nome da tarefa"
                (keypress)="handleKeyPress($event)"
                class="p-2 border rounded-lg focus:outline-none dark:border-gray-600 dark:bg-gray-800 dark:text-gray-200"
              />
           </li>
  
           <li>
            <a class="flex items-center p-2 text-gray-900 rounded-lg ">
                <!-- FontAwesome Icon for Deadline -->
                <i class="fas fa-calendar-check w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
                <span class="ms-3">Prazo</span>
             </a>
  
              <input
                id="taskDeadline"
                type="date"
                [(ngModel)]="newTaskDeadline"
                class="p-2 border rounded-lg focus:outline-none dark:border-gray-600 dark:bg-gray-800 dark:text-gray-200"
              />
           </li>
           <li>
              <a class="flex items-center p-2 text-gray-900 rounded-lg">
                 <!-- FontAwesome Icon for Priority -->
                 <i class="fas fa-exclamation-circle w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"></i>
                 <span class="flex-1 ms-3 whitespace-nowrap">Prioridade</span>
              </a>
              <select
                id="taskPriority"
                [(ngModel)]="newTaskPriority"
                class="p-2 border rounded-lg focus:outline-none dark:border-gray-600 dark:bg-gray-800 dark:text-gray-200"
              >
                <option value="Baixa">Baixa</option>
                <option value="Média">Média</option>
                <option value="Alta">Alta</option>
              </select>
           </li>
           <button 
           (click)="addTask()"
           class="bg-blue-500 text-white p-2 rounded-lg hover:bg-blue-700 transition-colors w-full">
           Adicionar Tarefa
         </button>
        </ul>
     </div>
  </aside>
  